html{
  font-size:100%
}



body{
  background-color:#ebe3ce;
}

h1, h2, h3, h4, h5,  {
  color:#0f1f3d;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

p{
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color:#130606;
}

p.light{
   font-weight: lighter;
}

#container{
  width: 95%;
  background-color:#98bf20;
  margin: 0 auto;
}


 #nav a:link, a: visited {
    display:block;
    color: #ffffff;
    background-color: #98bf21;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
 }

  #nav {
     padding: 0;
  }

  #nav li{
    list-style-type: none;
    float:left;
    padding:0;
    width:20%auto;height:10%
  }

  #nav a:hover, a:active{
    background-color: #7a991a;
  }

  #body a:link{
     color:#3973ac;
    text-decoration:none;
  }

 #body a:visited{
   color:#6666ff;
    text-decoration:none;
 }

  #body a:hover{
    color: #264d73;
    text-decoration:none;
  }

  .caption{
    color:black;
    font-family:"Merriweather", Georgia,"Times New Roman", serif;
    font-size:0.8em;
    font-style:italic;
    marging-top:0;
    text-align: right;
  }

  #container{
    width: 95%;
    background-color:#ffffff;
    margin:0 auto;
  }

 #footer {
   color: black;
   font-family: Georgia, "Times New Roman", serif;
   font-size: 0.8em;
   border-top: 1px solid black;

 }
     img {
          border: none;
     }
