body{
  font-family: Georgia, "Times New Roman", serif;
  background-color:#ebe3ce;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 25px;
}

h2{
  color:#0f1f3d;

}

p{
  color:#130606;
}

p.light{
   font-weight: lighter;
}

#container{
  width: 95%;
  background-color:#ffffff;
  margin: 0 auto;
}


 #nav a:link, a: visited {
    display:block;
    color: #98bf20;
    background-color: #98bf21;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
 }

  #nav a:hover, a:active{
    background-color: #7a991a;
  }

  #body a:link{
     color:#3973ac;
    text-decoration:none;
  }

 #body a:visited{
   color:#6666ff;
    text-decoration:none;
 }

  #body a:hover{
    color: #264d73
    text-decoration:none;
  }

  .caption{
    color:green;
    font-family:Geogia, "Times New Roman", serif:cursive;
    font-size:0.8em;
    font-style:italic;
    marging-top:0;
  }

  #container{
    width: 95%;
    background-color:#ffffff;
    margin:0 auto;
  }

 #footer {
    color: black;
    front-family: Georgia, "Times New Roman", serif;
    front-size: 0.8em;
    border-top: 1px solid black;
 }
     img {
          border: none;
     }
