html {
	font-size: 100%
}

#header, #nav, #footer, h1, h2, h3{
  font-family: Tahoma, Geneva, sans-serif;
}
h1{
	text-align: center;
}
h2{
	font-size: 100%;
	color:white;
	text-align: left;
	
}

nav ul li {
    display: block;
    border-top: 2px #79896d solid;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

.menu-trigger {
    order: 2;
    font-size: 1.75em;
    width: 2em;
}

#header .inner {
    display: flex;
    flex-flow: row;
    background-color: darkblue;
    margin: 0;
    padding: 0 10px;
		text-align: center;
}
nav ul {
    display: none;
}

header h2 {
    order: 1;
    font-size: 4em;
		color:white;

}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h2 {
        order: 1;
				text-align: center;
				color: white;


    }

    nav {
        order: 2;
    }

}



img{
	margin: auto;
	height:50%;
	width:50%;
}
#picture1 {
	height:25%;
}
#content .inner{
  background: lightpink;
  padding:10px;
	text-align: center;

}

#sidebar .inner{
  background: lightblue;
  color:black;
  padding:10px;
	text-align: left;
	margin-left: 0px;
}

#nav ul{
  display:flex;
  flex-flow:row;
  justify-content: space-around;
  background: #A7DBD8;
  color: #333;
  list-style-type: none;
  padding:10px;
}

#nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
}

#nav li {
  border-right: 1px solid rgba(255,255,255,.5);
  padding:5px;
  text-align:center;
}

#nav li:last-child {
  border-right: none;
}

#footer{
  background: lightgrey;
  color:white;
  padding: 5px;
	text-align: center;
}

@media screen and (min-width:600px){

  #pageBody{
    display:flex;
    flex-flow:row;
  }

  #content{
    flex:3 auto;
  }

  #sidebar{
    flex:1 auto;
  }

  #nav li{
    border-right:none;
  }

}

@media screen and (min-width:1000px){

  .wrapper{
    display: flex;
    flex-flow:row;
  }

  #nav ul{
    display:flex;
    flex-flow:column;
  }

  #nav li{
    border-right:none;
    border-bottom:1px solid rgba(255,255,255,.5);
  }

  #nav li:last-child {
    border-bottom: none;
  }

  #content{
    order:3;
    margin:10px;
  }

  #sidebar{
    order:1;
    margin:0px;
  }

  #nav{
    order:2;
    margin:10px;
    align-self: flex-start;
  }

  #footer{
    order:4;
		margin-top: auto;
  }

}
